[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Lliurex-ID-Control
Name[es]=Lliurex-ID-Control
Name[ca@valencia]=Lliurex-ID-Control
Name[ca_ES.UTF-8@valencia]=Lliurex-ID-Control
Comment=Program to manage the integration with ID
Comment[es]=Programa para gestionar la integración con la Identidad Digital
Comment[ca@valencia]=Programa per a gestionar la integració amb la Identitat Digital
Comment[ca_ES.UTF-8@valencia]=Programa per a gestionar la integració amb la Identitat Digital
GenericName=lliurex-id-control
Type=Application
Exec=pkexec /usr/sbin/lliurex-cdc-control
TryExec=lliurex-cdc-control
Icon=lliurex-cdc-control
Terminal=false
StartupNotify=true
NoDisplay=true
Categories=LliureX-Administration;
