Source: zero-lliurex-cdc
Section: qml
Priority: optional
Maintainer: lliurex <lliurex@gva.es>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/focal/zero-lliurex-cdc
Vcs-Git: https://github.com/lliurex/zero-lliurex-cdc

Package: zero-lliurex-cdc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: App to manage integration with CDC - Transitional
 This package provides a gui to manage the ingregation with the CDC and zomando to launch it
