Source: zero-lliurex-cdc
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: llxsrchelper,debhelper (>= 10),zero-dev
Standards-Version: 4.1.2

Package: zero-lliurex-cdc
Architecture: amd64
Depends: ${misc:Depends},epi-gtk,zero-center
Description: CDC Installer
 Browser installer for LliureX-CDC integration
